@font-face {
  font-family: "dalliance-roman";
  src: url("../fonts/dalliance-roman.ttf") format("truetype");
}
@font-face {
  font-family: "king-basil";
  src: url("../fonts/king-basil-lite.otf") format("opentype");
}
@font-face {
  font-family: "script-mt-bold";
  src: url("../fonts/script-mt-bold.ttf") format("truetype");
}
@font-face {
  font-family: "covered-by-your-grace";
  src: url("../fonts/covered-by-your-grace.ttf") format("truetype");
}
@font-face {
  font-family: "wire-one";
  src: url("../fonts/wire-one.ttf") format("truetype");
}